.navbar-nav {
  display: flex;
  justify-content: flex-start; /* Aligner les éléments à gauche */
  align-items: center; /* Centrer verticalement les éléments */
}

.navbar-nav li {
  display: flex;
  align-items: center; /* Centrer verticalement chaque item */
  margin-right: 30px;  /* Espacement entre les éléments */
}

.navbar-nav li a {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center; /* Assurer que les liens sont centrés verticalement */
}

.navbar-custom {
  background-color: #343a40; /* Couleur de fond sombre */
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #646cff; /* Couleur au survol */
}

.dropdown-menu {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%; /* Placer le menu juste sous l'élément parent */
  left: 0; /* Aligner à gauche de l'élément parent */
  right: auto;
  z-index: 1050; /* S'assurer que le menu est au-dessus des autres éléments */
  max-width: 90vw; /* Limiter la largeur du menu à 90% de la largeur de la fenêtre */
  overflow-x: auto; /* Permettre un défilement horizontal si nécessaire */
  transform: translateY(5px); /* Décaler légèrement le menu vers le bas pour mieux le positionner */
}

.dropdown-menu a {
  color: #fff; /* Liens en blanc */
  padding: 10px 20px; /* Espacement interne des éléments */
  text-decoration: none; /* Enlever la sous-ligne */
}

.dropdown-menu a:hover {
  color: #646cff; /* Liens en bleu au survol */
  background-color: #f8f9fa; /* Fond clair au survol */
}